# aenum
aenum==2.0.3

# appdirs
appdirs==1.4.3

# chardet
chardet==2.3.0

# click
click==6.6

# ConfigArgParse
ConfigArgParse==0.10.0

# dateparser
dateparser==0.3.5

# enum34
enum34==1.1.4

# et-xmlfile
et-xmlfile==1.0.1

# functools32
functools32==3.2.3.post2

# future
future==0.15.2

# gspread
gspread==0.3.0

# ijson
ijson==2.3

# jdatetime
jdatetime==1.8.1

# jdcal
jdcal==1.2

# jsonschema
jsonschema==2.5.1

# jsontableschema
jsontableschema==0.6.0

# ofxtools
ofxtools==0.3.8

# openpyxl
openpyxl==2.3.5

# packaging
packaging==16.8

# pynab
pynab==0.6.8

# pynYNAB
# pynYNAB===dev TODO MOVE BACK TO STABLE WHEN https://github.com/rienafairefr/pynYNAB/issues/30 IS FIXED
git+git://github.com/rossdargan/pynYNAB.git@a07fb0e#egg=pynYNAB

# pyparsing
pyparsing==2.2.0

# python-dateutil
python-dateutil==2.5.3

# pytz
pytz==2016.4

# PyYAML
PyYAML==3.11

# regex
regex==2016.4.25

# requests
requests==2.10.0

# rfc3986
rfc3986==0.3.1

# schematics
schematics==1.1.1

# six
# License: MIT
# Homepage: http://pypi.python.org/pypi/six/
# Author: Benjamin Peterson
six==1.10.0

# SQLAlchemy
SQLAlchemy==1.1.6

# tabulator
tabulator==0.3.13

# toolz
toolz==0.7.4

# umalqurra
umalqurra==0.2

# unicodecsv
unicodecsv==0.14.1

# xlrd
xlrd==0.9.4

