# aenum
# License: BSD License
# Homepage: https://bitbucket.org/stoneleaf/aenum
# Author: Ethan Furman
aenum==2.0.3

# appdirs
# License: MIT
# Homepage: http://github.com/ActiveState/appdirs
# Author: Trent Mick; Sridhar Ratnakumar; Jeff Rouse
appdirs==1.4.3

# astroid
# License: LGPL
# Homepage: https://github.com/PyCQA/astroid
# Author: Python Code Quality Authority
astroid==1.5.3

# backports.functools-lru-cache
# Homepage: https://github.com/jaraco/backports.functools_lru_cache
# Author: Jason R. Coombs
backports.functools-lru-cache==1.4

# cchardet
# License: MIT License
# Homepage: https://github.com/PyYoshi/cChardet
# Author: PyYoshi
cchardet==1.1.3

# certifi
# License: ISC
# Homepage: http://certifi.io/
# Author: Kenneth Reitz
certifi==2017.4.17

# chardet
# License: LGPL
# Homepage: https://github.com/chardet/chardet
# Author: Daniel Blanchard
chardet==3.0.3

# click
# Homepage: http://github.com/mitsuhiko/click
# Author: Armin Ronacher
click==6.7

# ConfigArgParse
# License: MIT
# Homepage: https://github.com/bw2/ConfigArgParse
# Author: Zorro
ConfigArgParse==0.12.0

# configparser
# License: MIT
# Homepage: http://docs.python.org/3/library/configparser.html
# Author: Lukasz Langa
configparser==3.5.0

# dateparser
# License: BSD
# Homepage: https://github.com/scrapinghub/dateparser
# Author: Scrapinghub
dateparser==0.6.0

# enum34
# License: BSD License
# Homepage: https://bitbucket.org/stoneleaf/enum34
# Author: Ethan Furman
enum34==1.1.6

# et-xmlfile
# License: MIT
# Homepage: https://bitbucket.org/openpyxl/et_xmlfile
# Author: See ATUHORS.txt
et-xmlfile==1.0.1

# functools32
# License: PSF license
# Homepage: https://github.com/MiCHiLU/python-functools32
# Author: ENDOH takanao
functools32==3.2.3.post2

# future
# License: MIT
# Homepage: https://python-future.org
# Author: Ed Schofield
future==0.16.0

# gspread
# License: MIT
# Homepage: https://github.com/burnash/gspread
# Author: Anton Burnashev
gspread==0.3.0

# idna
# License: BSD-like
# Homepage: https://github.com/kjd/idna
# Author: Kim Davies
idna==2.5

# ijson
# License: BSD
# Homepage: https://github.com/isagalaev/ijson
# Author: Ivan Sagalaev
ijson==2.3

# isodate
# License: BSD
# Homepage: http://cheeseshop.python.org/pypi/isodate
# Author: Gerhard Weis
isodate==0.5.4

# isort
# License: MIT
# Homepage: https://github.com/timothycrosley/isort
# Author: Timothy Crosley
isort==4.2.13

# jdatetime
# License: Python Software Foundation License
# Homepage: https://github.com/slashmili/python-jalali
# Author: Milad Rastian
jdatetime==1.8.1

# jdcal
# License: BSD
# Homepage: http://github.com/phn/jdcal
# Author: Prasanth Nair
jdcal==1.3

# jsonlines
# License: BSD
# Homepage: https://github.com/wbolster/jsonlines
# Author: Wouter Bolsterlee
jsonlines==1.1.0

# jsonschema
# License: MIT
# Homepage: http://github.com/Julian/jsonschema
# Author: Julian Berman
jsonschema==2.6.0

# jsontableschema
# License: MIT
# Homepage: https://github.com/frictionlessdata/jsontableschema-py
# Author: Open Knowledge Foundation
jsontableschema==0.10.1

# lazy-object-proxy
# License: BSD
# Homepage: https://github.com/ionelmc/python-lazy-object-proxy
# Author: Ionel Cristian Mărieș
lazy-object-proxy==1.3.1

# linear-tsv
# License: Apache
# Homepage: https://github.com/solidsnack/tsv
# Author: Jason Dusek
linear-tsv==1.0.0

# mccabe
# License: Expat license
# Homepage: https://github.com/pycqa/mccabe
# Author: Ian Cordasco
mccabe==0.6.1

# ofxtools
# License: MIT
# Homepage: https://github.com/csingley/ofxtools
# Author: Christopher Singley
ofxtools==0.3.8

# openpyxl
# License: MIT/Expat
# Homepage: https://openpyxl.readthedocs.io
# Author: See AUTHORS
openpyxl==2.4.8

# packaging
# License: BSD or Apache License, Version 2.0
# Homepage: https://github.com/pypa/packaging
# Author: Donald Stufft and individual contributors
packaging==16.8

# progress
progress==1.3

# pylint
# License: GPL
# Homepage: https://github.com/PyCQA/pylint
# Author: Python Code Quality Authority
pylint==1.7.1

# pynab
# Homepage: http://github.com/aldanor/pynab
# Author: Ivan Smirnov
pynab==0.6.8

# pynYNAB
# License: MIT
# Homepage: https://github.com/rienafairefr/nYNABapi
# Author: rienafairefr
pynYNAB===dev

# pyparsing
# License: MIT License
# Homepage: http://pyparsing.wikispaces.com/
# Author: Paul McGuire
pyparsing==2.2.0

# python-dateutil
# License: Simplified BSD
# Homepage: https://dateutil.readthedocs.io
# Author: Paul Ganssle, Yaron de Leeuw
python-dateutil==2.6.0

# pytz
# License: MIT
# Homepage: http://pythonhosted.org/pytz
# Author: Stuart Bishop
pytz==2017.2

# PyYAML
# License: MIT
# Homepage: http://pyyaml.org/wiki/PyYAML
# Author: Kirill Simonov
PyYAML==3.11

# regex
# License: Python Software Foundation License
# Homepage: https://bitbucket.org/mrabarnett/mrab-regex
# Author: Matthew Barnett
regex==2017.5.26

# requests
# License: Apache 2.0
# Homepage: http://python-requests.org
# Author: Kenneth Reitz
requests==2.17.3

# rfc3986
# License: Apache 2.0
# Homepage: https://rfc3986.readthedocs.org
# Author: Ian Cordasco
rfc3986==0.4.1

# ruamel.ordereddict
# License: MIT license
# Homepage: https://bitbucket.org/ruamel/ordereddict
# Author: Anthon van der Neut
ruamel.ordereddict==0.4.9

# ruamel.yaml
# License: MIT license
# Homepage: https://bitbucket.org/ruamel/yaml
# Author: Anthon van der Neut
ruamel.yaml==0.15.0

# schematics
# License: BSD
# Homepage: https://github.com/schematics/schematics
# Author: James Dennis, Jökull Sólberg, Jóhann Þorvaldur Bergþórsson, Kalle Tuure, Paul Eipper
schematics==2.0.1

# singledispatch
# License: MIT
# Homepage: http://docs.python.org/3/library/functools.html#functools.singledispatch
# Author: Łukasz Langa
singledispatch==3.4.0.3

# six
# License: MIT
# Homepage: http://pypi.python.org/pypi/six/
# Author: Benjamin Peterson
six==1.10.0

# SQLAlchemy
# License: MIT License
# Homepage: http://www.sqlalchemy.org
# Author: Mike Bayer
SQLAlchemy==1.1.10

# tabulate
tabulate==0.7.7

# tabulator
# License: MIT
# Homepage: https://github.com/frictionlessdata/tabulator-py
# Author: Open Knowledge Foundation
tabulator==1.0.0a5

# toolz
# License: BSD
# Homepage: http://github.com/pytoolz/toolz/
# Author: Matthew Rocklin
toolz==0.8.2

# tzlocal
# License: CC0 1.0 Universal
# Homepage: https://github.com/regebro/tzlocal
# Author: Lennart Regebro
tzlocal==1.4

# umalqurra
# License: Waqef
# Homepage: https://github.com/tytkal/python-hijiri-ummalqura
# Author: Khalid Al-hussayen
umalqurra==0.2

# unicodecsv
# License: BSD License
# Homepage: https://github.com/jdunck/python-unicodecsv
# Author: Jeremy Dunck
unicodecsv==0.14.1

# urllib3
# License: MIT
# Homepage: https://urllib3.readthedocs.io/
# Author: Andrey Petrov
urllib3==1.21.1

# wrapt
# License: BSD
# Homepage: https://github.com/GrahamDumpleton/wrapt
# Author: Graham Dumpleton
wrapt==1.10.10

# xlrd
# License: BSD
# Homepage: http://www.python-excel.org/
# Author: John Machin
xlrd==1.0.0

# Python dotev
# https://github.com/theskumar/python-dotenv
python-dotenv
